<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993391339892-182ihecidosh31cre097tf5pv6k30rmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993391339892-182ihecidosh31cre097tf5pv6k30rmc</string>
	<key>API_KEY</key>
	<string>AIzaSyBA7WQFob8Rl4grPpQUDcuabUdCZRNE1VY</string>
	<key>GCM_SENDER_ID</key>
	<string>993391339892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rnapp</string>
	<key>PROJECT_ID</key>
	<string>seed-783e3</string>
	<key>STORAGE_BUCKET</key>
	<string>seed-783e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993391339892:ios:4356936767597e9e</string>
	<key>DATABASE_URL</key>
	<string>https://seed-783e3.firebaseio.com</string>
</dict>
</plist>